.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #0E3B6F;
    text-align: center;
  }

.population-slider {
    padding: 0;
    width: 85%;
}

form.number-input {
    height: 200px;
    margin-bottom:  30px;
    position:  absolute;
    bottom: 0px;
}
